@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Backend Uppgift 2</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core MVC </a>.</p>
</div>
